body {
  color: #222;
  font: 400 14px CoreSans, Arial, sans-serif;
  background-image: linear-gradient(to right top, #c7d16b, #cfd25d, #d8d24f, #e3d13f, #eed02c, #ded42f, #ced835, #bedb3e, #90df67, #62df8e, #34dcb0, #17d7cb);
}
a {
  color: #222;
}
a :hover {
  text-decoration: underline;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: #f4f4f4;
  color: #808080;
  cursor: pointer;
}
button:hover {
  color: #222;
}
* :focus {
  outline: none;
}
